# This file contains the configuraton knobs needed
# by the HTCondor-specific WLCG MJF service tools
#
# Syntax is 
#  key=val
# No spaces allowed.
# 
# The file is expected to reside in
# /etc/wlcg-mjf-htcondor.config
#

#
# Host config location (absoulte)
# 
MACHINEFEATURE=/var/run/wlcg-mjf-htcondor

#
# Job config locate (relative to job startup dir)
# 
JOBFEATURES=wlcg-mjf-htcondor

#
# Various global knobs that can be set by hand
# If not set, the system will try to auto-detect them
#

# Host specific ones
#
HS06MAPFILE=/etc/wlcg-mjf-hs06.map
#HS06VAL=10
#NUM_CPUS=1
#NUM_HT_CPUS=2
#NUM_SLOTS=1

# Job specific ones
#
#SLOT_CPUS=1
#SLOT_MEM=2500
#SLOT_DISK=20
#SLOT_TIME=250000

